.header{
    display: flex;
    flex-direction: row;
    background-color: #888888;
    border-radius: 5px;
    border: black solid;
    margin: 5px;
}

.header svg {
    margin: 10px;
}

.p-div {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    gap: 20px;
    margin-right: 20px;
}